* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/******************
Common
******************/
body {
    width: 100%;
    height: 100vh;
    background-color: #141922;
    color: #ffffff;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.d_flex {
    display: flex;
}

/******************
Main
******************/
/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: calc(100vh - 90px);
    float: left;
    background-color: #000000;
}

.logo img {
    width: 150px;
}

/* Content */
.content {
    height: calc(100vh - 90px);
    overflow-y: auto;
}

/******************
Main
******************/
.control {
    width: 100%;
    height: 90px;
    background-color: #282828;
}